<%= content_for :main do %>
<div class="container">

  <div class="row mt-5 mb-5">
    <div class="col-lg-6 d-flex justify-content-center">
      <div>
        <% if @product.img.attached? %>
          <img src="<%=(url_for(@product.img)) %>" alt="" style="width: 100%">
        <% end %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="product-info">
        <div class="title d-flex justify-content-between align-items-center mt-3 flex-wrap">
          <h2> <%= @product.title %></h2>
          <%= button_to 'Add to Cart', line_items_path(product_id: @product), remote: true %>
        </div>
        <div class="price">
          Price:
          <span class="price"><%= number_to_currency(@product.price) %></span>

        </div>
        <hr>
        <h2>Description</h2>
        <div class="description">
          <%= @product.description %>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>

<% end %>