<%= content_for :main do %>
  <section class="mb-5">
    <div class="container">
      <div class="discount-menu d-flex align-items-center flex-column">
        <h2 class="mb-5">Products</h2>
        <div class="row ">
          <% cache ['store', Product.latest] do %>
            <% @products.each do |product| %>
              <% cache ['entry', product] do %>
                <div class="card col-lg-2">
                <%= link_to product do %>
                  <div class="img">
                    <% if product.img.attached? %>
                      <img src="<%= (url_for(product.img)) %>" alt="">
                    <% end %>
                  </div>
                <% end %>

                <div class="card-body text-center">
                  <%= link_to product, style: "width: 18rem;" do %>
                    <h3 class="card-title text-center"><%= product.title %></h3>
                  <% end %>


                  <%= product.description %>
                    <div class="price">
                      <span class="price"><%= number_to_currency(product.price) %></span>
                    </div>
                    <%= button_to 'Add to Cart', line_items_path(product_id: product),remote: true%>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </section>
<% end %>