<!DOCTYPE html>
<html>
<head>
  <title>Musicshop</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>

<header class="main">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="visual-text">
          <div class="visual-title">
            <p>New music shop</p>
            <h1><%= @page_title || 'MUSIC SHOP' %></h1>
          </div>
          <div class="visual-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci animi autem culpa cumque
              deserunt eius id, ipsum labore modi mollitia nihil officiis possimus qui rem repellendus tempore velit
              veritatis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<hr>
<div class="app">

  <div class="row m-0">
    <nav class="col-md-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li id="language" class="text-center">
            <h2 style="font-size: 18px;">Language</h2>
            <%= form_tag store_path, class: 'locale p-0' do %>
              <%= select_tag 'set_locale',
                             options_for_select(LANGUAGES, I18n.locale.to_s), class: "form-control",
                             onchange: 'this.form.submit()' %>
              <%= submit_tag 'submit' %>
              <%= javascript_tag "$('.locale input').hide()" %>
            <% end %>
          </li>
          <hr>
          <li id="cart">
            <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
              <%= render @cart %>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                <polyline points="9 22 9 12 15 12 15 22"></polyline>
              </svg>
               <%= t('.home') %>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <br>
          <% if session[:user_id] %>
          <li class="nav-item">
            <a class="nav-link" href="/products">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
              </svg>
              <%= t('.products') %>
            </a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/orders">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                <%= t('.orders') %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                <%= t('.users') %>
              </a>
            </li>
            <hr>
            <li class="nav-item text-right">
              <%= button_to 'Logout', logout_path, class:"lightred-bg", method: :delete %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <% if notice %>
        <div class="alert alert-info m-5" id="notice" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <%= yield :main %>
    </main>
  </div>
</div>
<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="copyright">
          <h4>&copy; 2020 Music shop</h4>
        </div>
        <div class="dev-info">
          <a href="https://github.com/vitaliksokil/internet-shop-ruby">Github</a> <span></span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="store-info">
          <div class="store-info-title">
            <h4>
              Shop
            </h4>
          </div>
          <div class="store-info-street">
            <p>Chornovola street</p>
            <p><span>Phone: </span> +380 98 1234 567</p>
            <p>We work from 10:00 to 19:00</p>
          </div>

        </div>
      </div>
      <div class="col-lg-6">
        <div class="pages">
          <table>
            <tr class="d-flex flex-wrap">
              <!--                <td> <a href="">О компании</a></td>-->
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
